<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{.LanguagePrefix}}/">
	    <img src="{{ "img/imim.jpg" | relURL }}" alt="IMIM logo">
    </a>
      <a class="navbar-item" target="blank" href="{{.LanguagePrefix}}/">
        <span class="icon">
		<img src="{{"svg/home.svg"|relURL}}" alt="faqs"/>
        </span>
      </a>
    <a class="navbar-burger burger" role="button" data-target="navbarExampleTransparentExample" aria-label="menu" aria-expanded="false">
      <span  aria-hidden="true"></span>
      <span  aria-hidden="true"></span>
      <span  aria-hidden="true"></span>
    </a>
  </div>
  
  <div class="navbar-menu" id="navbarExampleTransparentExample">
    <div class="navbar-start">
      {{ if .Site.Params.github}}
      <a class="navbar-item" target="blank" href="https://github.com/{{.Site.Params.github}}">
        <span class="icon">
		<img src="{{"svg/logo-github.svg"|relURL}}" alt="github"/>
        </span>
      </a>
      {{end}}

      {{ if .Site.Params.twitter}}
      <a class="navbar-item" target="blank" href="https://twitter.com/{{.Site.Params.twitter}}">
        <span class="icon">
		<img src="{{"svg/logo-twitter.svg"|relURL}}" alt="twitter"/>
        </span>
      </a>
      {{end}}
    </div>
    
    <!-- This "navbar-burger" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
    </span>
    
    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
    <div class="navbar-end">
      <div class="navbar-item">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <a itemprop="url" class="navbar-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{end}}" href="{{.URL}}"><span itemprop="name">{{ .Name }}</span></a>
        {{ end }}
      </div> 
    </div>
  </div>
</nav>
